body {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
}
